h1{
    text-align: center;
    position: relative;
    top: 340px;
    font-size: 400%;
}
#category{
    text-align: center;
    position: relative;
    top: 350px;
}
body{
    margin: auto;
    width: 640px;
    padding: 50px;
    font-family: 'Lexend Deca', sans-serif; 
}
#cate{
    border-radius: 25px;
    font-size: larger;
    padding: 10px;
}
body{
    background-color: rgb(247, 234, 215);
    font-family: 'Minimal', sans-serif;
    font-size: 1.5em;    
}
