.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h2,h1{
    text-align: center;
  }

  body{
    background-color: rgb(247, 234, 215);
    font-family: 'Minimal', sans-serif;
    font-size: 2em;
  }
  hr{
    border: dotted;
  }